<main>
    <h1>Users</h1>
    <div class="content">
        <nav>
            <button routerLink="add">Add</button>
        </nav>
        <table>
            <thead>
                <tr>
                    <th>Client number</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Balance</th>
                    <th>Transactions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of this.userService.users">
                    <td>{{ user.customerId }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.balance}}</td>
                    <!-- <td>{{ user.transactions}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</main>