<main>
    <h1>Users</h1>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of this.userService.users">
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.balance}}</td>
                    <td><a routerLink="accounts" [state]={id:user.customerId}>See accounts</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>